.aboutMePhoto {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 100%;
}

.aboutMePhoto img {
    flex-shrink: 0;
    max-height: 30vw;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    text-align: left;
    margin: 4vw auto 2vw;
}

.aboutMeText {
    font-size: 1.6vw;
    font-weight: normal;
    width: 40vw;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .aboutMe {
        flex-direction: column;
        text-align: center;
    }

    .aboutMePhoto {
        margin: auto;
    }

    .aboutMeText {
        width: 80vw;
        margin: 20px auto;
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 1023px) {
    .aboutMe {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .aboutMePhoto {
        margin: auto;
    }

    .aboutMeText {
        width: 80vw;
        margin: 20px auto;
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 767px) {
    .aboutMePhoto {
        width: 60vw;
        height: 60vw;
    }

    .aboutMePhoto img {
        flex-shrink: 0;
        max-height: 60vw;
    }

    .aboutMeText {
        width: 80vw;
        margin: 10px auto;
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 1440px) {
    .aboutMe {
        margin: 2vw auto 1vw;
    }

    .aboutMePhoto {
        width: 20vw;
        height: 20vw;
        margin-left: 10vw;
    }

    .aboutMePhoto img {
        max-height: 20vw;
    }

    .aboutMeText {
        font-size: 1.2vw;
    }
}